<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Fondamento&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/assets/style/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Mario Kozic</title>
    </head>
    <body>
        
        {{{body}}}
    </body>
    <div id="footer">
                   <button id="email">
                       <mat-icon color="primary" matBadge="number" matBadgePosition="above after"
                           matBadgeColor="accent">
                           <img style="width: 45px;" src="/assets/style/slike/iconfinder_email_contact_mail_communicate_message_616453.png">
                       </mat-icon><a href="mailto:kun.zizinho@gmail.com"><b></b></a>
                   </button>
                   <button id="linkedin">
                       <mat-icon color="primary" matBadge="number" matBadgePosition="above after"
                           matBadgeColor="accent"> <img style="width: 45px;" src="/assets/style/slike/iconfinder_2018_social_media_popular_app_logo_linkedin_3225190.png">
                           </mat-icon>
                            <a href="https://www.linkedin.com/in/mario-kozic-557346160?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BdxytunQcTeunkvkuXMYeug%3D%3D"><b></b></a>
                   </button>
                   <p style="color:#FFFFFFFF; float:right;padding-right:600px;">This site was made By Mario Kozic &copy</p>
                </div>
    </html>