<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Calligraffitti|IM+Fell+English:400i|IM+Fell+Great+Primer:400i|Niconne|Romanesco&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./style/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Mario Kozic</title>
    </head>
    <body>
        
        {{{body}}}
    </body>
    </html>