<div class="Container">
                    <!-- Jumbotron i navigacija pocinju ovdje -->
            <div class="jumbotron jumbotron-fluid">
                <div id="topnav">
                    <h1 id="portfolio">Mario Kozic</h1>
                    <h1 id="pgname">Portfolio</h1>
                    <a href="/">About me</a>
                    <a href="/bar">Bar & Mixology</a>
                    <a href="#" class="active">Portfolio</a>
                </div>
                <div class="row">
                    <div class="column">
                        <div class="content">
                            <img src="/assets/style/slike/Untitled_ Mar 9, 2020 10_11 PM.gif" alt="dayPlanner" style="width:100%">
                            <h3>Day Planner App</h3>
                            <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at
                                tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="content">
                            <img src="/assets/style/slike/Untitled_ Mar 9, 2020 10_14 PM.gif" alt="weatherApp" style="width:100%">
                            <h3>Weather App</h3>
                            <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at
                                tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="content">
                            <img src="/assets/style/slike/Untitled_ Mar 9, 2020 10_16 PM.gif" alt="Random Pasword Generator" style="width:100%">
                            <h3>Random Pasword Generator</h3>
                            <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at
                                tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="content">
                            <img src="/assets/style/slike/Untitled_ Mar 9, 2020 10_18 PM.gif" alt="Quizz App" style="width:100%">
                            <h3>Quizz Game</h3>
                            <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at
                                tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
                        </div>
                    </div>
                    <!-- END GRID -->
                </div>

                <div class="content">
                    <img src="/assets/style/slike/Untitled_ Mar 9, 2020 10_28 PM.gif" alt="work in Progress" style="width:100%">
                    <h3>Work in Progress...</h3>
                    <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas
                        oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
                    <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas
                        oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
                </div>
                
            </div>
                  <!-- Jumbotron i navigacija zavrsavaju ovdje -->
          </div>